<h1>Header</h1>
<%= button_to "Выйти", logout_path, method: :delete %>
<%= link_to "Профиль", user_path(@user)%>
<h2>Предстоящие мероприятия</h2>
<%= render partial: "events/event", collection: @upcoming_events %>